<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Global Css File -->
    <link rel="stylesheet" href="css/index.css"/>
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" charset="utf-8"></script>
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.png"/>
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- AOS CSS -->
    <link rel="stylesheet" href="libs/aos/dist/aos.css"/>
    <!-- Lightbox2 CSS -->
    <link rel="stylesheet" href="libs/lightbox2/dist/css/lightbox.min.css"/>
    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="libs/fancybox/dist/fancybox/fancybox.css"/>
    <!-- OwlCarousel2 CSS -->
    <link rel="stylesheet" href="libs/owlcarousel2/dist/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="libs/owlcarousel2/dist/assets/owl.theme.default.min.css"/>


    <!-- สั่งโหลดตาม หน้าที่เข้ามา -->
    <% if(title == "HOME"){ %>
      <title>[ Non ] - | Home |</title>
      <!-- particle background-->
      <link rel="stylesheet" href="css/particle.css">
      <!-- CSS File -->
      <link rel="stylesheet" href="css/home.css" />
    <% } else if(title === "PROFILE"){ %>
      <title>[ Non ] - | Personal Profile |</title>
      <!-- particle background-->
      <link rel="stylesheet" href="css/particle.css">
      <!-- CSS File -->
      <link rel="stylesheet" href="css/profile.css" />
    <% } else if(title === "CERTIFICATE"){ %>
      <title>[ Non ] - | Certificates |</title>
      <!-- particle background-->
      <link rel="stylesheet" href="css/particle.css">
      <!-- CSS File -->
      <link rel="stylesheet" href="css/certificate.css" />
    <% } else if(title === "ACTIVITY"){ %>
      <title>[ Non ] - | Activities |</title>
      <!-- particle background-->
      <link rel="stylesheet" href="css/particle.css">
      <!-- CSS File -->
      <link rel="stylesheet" href="css/activity.css" />
    <% } else if(title === "PROJECTS"){ %>
      <title>[ Non ] - | Projects |</title>
      <!-- particle background-->
      <link rel="stylesheet" href="css/particle.css">
      <!-- CSS File -->
      <link rel="stylesheet" href="css/projects.css" />
    <% } %>
    

    
</head>
<body>

<!-- particle bg -->
<div id="particles-js"></div>
<!-- particle bg -->


<!--Main Navigation-->
<header>
  <!-- Navbar -->
  <% if(platform.isMobile){ %>
    <%- include("./partials/nav-bar-mobile.ejs") %> <!-- nav-bar mobile version -->
  <% } else { %>
    <%- include("./partials/nav-bar.ejs") %> <!-- nav-bar desktop version -->
  <% } %>
  <!-- Navbar -->
</header>
<!--Main Navigation-->




<!--Main layout-->
<% if(title === "HOME"){ %>
  <%- include("./pages/home.ejs") %>
<% } else if(title === "PROFILE"){ %>
  <%- include("./pages/profile.ejs") %>
<% } else if(title === "CERTIFICATE"){ %>
  <%- include("./pages/certificate.ejs") %>
<% } else if(title === "ACTIVITY"){ %>
  <%- include("./pages/activity.ejs") %>
<% } else if(title === "PROJECTS"){ %>
  <%- include("./pages/projects.ejs") %>
<% } %>
<!--Main layout-->


<!-- Footer -->
<%- include("./partials/footer.ejs") %>
<!-- Footer end -->

<!-- MDB -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- AOS -->
<script type="text/javascript" src="libs/aos/dist/aos.js"></script>
<!-- AOS Config -->
<script>
  AOS.init({
    duration: 500,
    once: false,
  });
  console.log("[Debug] AOS config loaded");
</script>
<!-- <script src="js/libs/particle.js"></script> -->
<!-- <script src="js/libs/app-particle.js"></script> -->
<!-- particles scripts -->
<script src="libs/particles.js/libs/particles.js"></script>
<!-- particles setup -->
<script src="libs/particles.js/app-particle.js"></script>
<!-- particle scripts end -->
<!-- Lightbox2 script -->
<script src="libs/lightbox2/dist/js/lightbox.min.js"></script>
<!-- Lightbox2 Config -->
<script>
  lightbox.option({
    'resizeDuration': 300,
    'wrapAround': true,
    'disableScrolling': true,
    'fadeDuration': 200,
    'positionFromTop': 150
  });
  console.log("[Debug] Lightbox2 config loaded");
</script>
<!-- Fancybox script -->
<script src="libs/fancybox/dist/fancybox/fancybox.umd.js"></script>
<!-- Fancybox Config -->
<script>
  Fancybox.bind("[data-fancybox]", {
    Toolbar: {
      display: {
        left: [
        ],
        middle: [
          "infobar",
        ],
        right: [
          "rotateCW",
          "iterateZoom",
          "slideshow",
          "thumbs", 
          "close",
        ],
      },
    },
  });
  console.log("[Debug] Fancybox config loaded");
</script>
<!-- tilt.js script -->
<script src="libs/tilt.js/dest/tilt.jquery.js"></script>
<!-- tilt.js setup -->
<script>
  const tilt = $('.js-tilt').tilt();
  tilt.on('change', function (e, transforms) {
    console.log('[Debug] ' + transforms);
  });
  tilt.on('tilt.mouseLeave', function (e) {
    console.log('[Debug] ' + e);
  });
  tilt.on('tilt.mouseEnter', function (e) {
    console.log('[Debug] ' + e);
  });
  console.log("[Debug] Tilt.js setup loaded");
</script>
<!-- Socket.io script -->
<script src="libs/socket.io-client/dist/socket.io.min.js"></script>
<!-- Socket.io setup -->
<script>
  const socket = io("ws://localhost:3000", {
    transports: ['polling'],
    cors: {
      origin: 'http://127.0.0.1:8080',
      methods: ['GET', 'POST'],
    },
  });
  socket.on("connect", () => {
    console.log("[Debug] Socket.io connected ID: " + socket.id);
  });
  socket.on("disconnect", () => {
    console.log("[Debug] Socket.io connected ID: " + socket.id);
  });
</script>
<!-- Axios script -->
<script src="libs/axios/dist/axios.min.js"></script>
<!-- OwlCarousel2 script -->
<script src="libs/owlcarousel2/dist/owl.carousel.min.js"></script>
</body>
</html>