<main class="mt-2" >
    <div id="intro" class="p-5 text-center bg-transparent">
        <h1 class="mb-3 h2" data-aos="zoom-in">กิจกรรม</h1>
        <p class="mb-3" data-aos="fade-up">🤤 ส่วนมากก็จะเป็นการอบรมซ่ะส่วนใหญ่เลย 🤤</p>
    </div>

    <br>
    <br>
    
    <div class="container">

        <hr class="my-5">
        <h5 class="my-5">&nbsp</h5>
        
        <!----------------------------------------- Slide Image ---------------------------------------------------->
        <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong animate__animated animate__fadeInLeft" data-mdb-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
                <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
                <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
            </ol>
    
            <!-- Inner -->
            <div class="carousel-inner rounded-3">
            <!-- Single item -->
                <div class="carousel-item active">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                    <div class="d-flex justify-content-center align-items-end h-100">
                        <div class="text-white text-center">
                        <h2>ได้รับรางวัลชนะเลิศโปรเจค PJBL ระดับปี 1</h2>
                        <p>ชั้น : ปวช.1</p>
                        <p>&nbsp;</p>
                        </div>
                    </div>
                    </div>
                </div>
    
                <!-- Single item -->
                <div class="carousel-item">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                    <div class="d-flex justify-content-center align-items-end h-100">
                        <div class="text-white text-center">
                        <h2>เข้าร่วมงานชุมนุมลูกเสือ เนตรนารีวิสามัญอาชีวศึกษา <br> ภาคตะวันออกเเละกรุงเทพมหานคร ครั้งที่ 8</h2>
                        <p>ชั้น : ปวช.1</p>
                        <p>&nbsp;</p>
                        </div>
                    </div>
                    </div>
                </div>
    
                <!-- Single item -->
                <div class="carousel-item">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                    <div class="d-flex justify-content-center align-items-top h-100">
                        <div class="text-white text-center">
                        <p>&nbsp;</p>
                        <h2><strong>เข้าร่วมการเเข่งขันตอบคำถามวิชาการ</strong></h2>
                        <p>ชั้น : ปวช.1</p>
                        </div>
                    </div>
                    </div>
                </div>


            </div>
            <!-- Inner -->
    
            <!-- Controls -->
            <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    <!----------------------------------------- Slide Image ---------------------------------------------------->
    <!----------------------------------------- Main content ---------------------------------------------------->

        <section class="text-center">
            <!----------------------------------------- Voc_cert --------------------------------------->
            <hr class="my-5" />
            <h4 class="mb-5" data-aos="fade-down"><strong><i class="fa-solid fa-briefcase"></i> ปวช. 1 <i class="fa-solid fa-briefcase"></i></strong></h4>
            <div class="row">

                <!-- Loop รา้ง Element ทั้งหมดตามที ส่งมา -->
                <% for(let i = 0; i < data.voc_cert.length; i++){ %>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card" data-aos="zoom-in">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <a href="<%= data.voc_cert[i].url %>" data-fancybox="voc_cert" data-caption="<%= (data.voc_cert[i].title).join(" ") %>">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                <img
                                    src="<%= data.voc_cert[i].img %>"
                                    class="img-fluid"
                                />
                            </a>
                        </div>
                        <div class="card-body">
                            <!-- Loop สร้าง เเต่ล่ำบรรทัด Title -->
                            <% for(let ii = 0; ii < data.voc_cert[i].title.length; ii++){ %>
                                <h5 class="card-title m-1"><%= data.voc_cert[i].title[ii] %></h5>
                            <% } %>
                            <!-- Loop สร้าง เเต่ล่ำบรรทัด description -->
                            <% for(let ii = 0; ii < data.voc_cert[i].description.length; ii++){ %>
                                <p class="card-text m-1"><%= data.voc_cert[i].description[ii] %></p>
                            <% } %>
                        </div>
                        </div>
                    </div>
                
                <% } %>

            </div>

            <!----------------------------------------- Voc_cert2 --------------------------------------->
            <hr class="my-5" />
            <h4 class="mb-5" data-aos="fade-down"><strong><i class="fa-solid fa-briefcase"></i> ปวช. 2 <i class="fa-solid fa-briefcase"></i></strong></h4>
            <div class="row">

                <!-- Loop รา้ง Element ทั้งหมดตามที ส่งมา -->
                <% for(let i = 0; i < data.voc_cert_2.length; i++){ %>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card" data-aos="zoom-in">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <a href="<%= data.voc_cert_2[i].url %>" data-fancybox="voc_cert_2" data-caption="<%= (data.voc_cert_2[i].title).join(" ") %>">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                <img
                                    src="<%= data.voc_cert_2[i].img %>"
                                    class="img-fluid"
                                />
                            </a>
                        </div>
                        <div class="card-body">
                            <!-- Loop สร้าง เเต่ล่ำบรรทัด Title -->
                            <% for(let ii = 0; ii < data.voc_cert_2[i].title.length; ii++){ %>
                                <h5 class="card-title m-1"><%= data.voc_cert_2[i].title[ii] %></h5>
                            <% } %>
                            <!-- Loop สร้าง เเต่ล่ำบรรทัด description -->
                            <% for(let ii = 0; ii < data.voc_cert_2[i].description.length; ii++){ %>
                                <p class="card-text m-1"><%= data.voc_cert_2[i].description[ii] %></p>
                            <% } %>
                        </div>
                        </div>
                    </div>
                
                <% } %>

            </div>
        </section>
    </div>
</main>