<main class="mt-2" >
    <div id="intro" class="p-5 text-center bg-transparent">
        <!-- Page title -->
        <h1 data-aos="zoom-in" class="mb-5 h2">ประวัติส่วนตัว</h1>
    </div>

    <br>
    <br>

    <div class="container">
        <!--Section: Content-->
        <section class="text-center">
            <!----------------------------------------------------------------- เกี่ยวกับผม ----------------------------------------------------------------->
            <div class="row">
                <hr class="my-2">
                <h5 data-aos="fade-down" class="my-5"><strong><i class="fa-solid fa-user"></i> เกี่ยวกับตัวผมครับ <i class="fa-solid fa-user"></i></strong></h5>

                <% for(let i = 0; i < data.myself.length; i++){ %>
                    <div class="col-lg-3 col-md-12 mb-5 js-tilt" data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25"> 
                        <div data-aos="flip-down" class="card">
                            <div class="card-body">
                                <% for(let ii = 0; ii < data.myself[i].title.length; ii++){ %>
                                    <h5 class="card-title"><%= data.myself[i].title[ii] %></h5>
                                <% } %>
                                <% for(let ii = 0; ii < data.myself[i].description.length; ii++){ %>
                                    <p class="card-text m-0"><%= data.myself[i].description[ii] %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>

            </div>
            <!----------------------------------------------------------------- เกี่ยวกับบิดา ----------------------------------------------------------------->
            <div class="row">
                <h5 data-aos="fade-down" class="mb-3"><strong><i class="fa-solid fa-user"></i> เกี่ยวกับบิดา <i class="fa-solid fa-user"></i></strong></h5>
                
                <% for(let i = 0; i < data.dad.length; i++){ %>
                    <div class="col-lg col-md-4 mb-5 js-tilt" data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25">
                        <div data-aos="flip-down" class="card">
                            <div class="card-body">
                                <% for(let ii = 0; ii < data.dad[i].title.length; ii++){ %>
                                    <h5 class="card-title"><%= data.dad[i].title[ii] %></h5>
                                <% } %>
                                <% for(let ii = 0; ii < data.dad[i].description.length; ii++){ %>
                                    <p class="card-text"><%= data.dad[i].description[ii] %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>

            </div>


            <!----------------------------------------------------------------- เกี่ยวกับมารดา ----------------------------------------------------------------->
            <div class="row">
                <h5 data-aos="fade-down" class="mb-3"><strong><i class="fa-solid fa-user"></i> เกี่ยวกับมารดา <i class="fa-solid fa-user"></i></strong></h5>
                
                <% for(let i = 0; i < data.mom.length; i++){ %>
                    <div class="col-lg col-md-4 mb-5 js-tilt" data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25">
                        <div data-aos="flip-down" class="card">
                            <div class="card-body">
                                <% for(let ii = 0; ii < data.mom[i].title.length; ii++){ %>
                                    <h5 class="card-title"><%= data.mom[i].title[ii] %></h5>
                                <% } %>
                                <% for(let ii = 0; ii < data.mom[i].description.length; ii++){ %>
                                    <p class="card-text"><%= data.mom[i].description[ii] %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>

            </div>


            <!----------------------------------------------------------------- เกี่ยวกับประวัติการศึกษา ----------------------------------------------------------------->
            <hr class="my-5" />
            <h4 data-aos="fade-down" class="mb-5"><strong><i class="fa-solid fa-graduation-cap"></i> ประวัติการศึกษา <i class="fa-solid fa-graduation-cap"></i></strong></h4>

            <div class="row justify-content-around">

                <% for(let i = 0; i < data.school.length; i++){ %>
                    <div class="col-lg-4 mb-4 js-tilt"  data-tilt-perspective="2000" data-tilt-scale="1.1" data-tilt-speed="400" data-tilt-max="25">
                        <div data-aos="<%= data.school[i].aosAnimation %>" class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="<%= data.school[i].img %>" class="img-fluid"/>
                            <a href="<%= data.school[i].url %>" target="_blank">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <% for(let ii = 0; ii < data.school[i].title.length; ii++){ %>
                                <h5 class="card-title m-0"><%= data.school[i].title[ii] %></h5>
                            <% } %>
                            <% for(let ii = 0; ii < data.school[i].description.length; ii++){ %>
                                <p class="card-text m-1"><%= data.school[i].description[ii] %></p>
                            <% } %>
                            <a target="_blank" href="<%= data.school[i].button.facebook %>" class="my-1 btn btn-primary"><i class="fa-brands fa-facebook"></i> Facebook</a>
                            <a target="_blank" href="<%= data.school[i].button.website %>" class="my-1 btn btn-info"><i class="fa-solid fa-globe"></i> Website</a>
                        </div>
                        </div>
                    </div>
                <% } %>

            </div>

        </section>
    </div>
</main>

<!-- Age Calculator -->
<script>
    let dob = new Date("<%= data.birthDate %>");
    let month_diff = Date.now() - dob.getTime();
    let age_dt = new Date(month_diff); 
    let year = age_dt.getUTCFullYear();
    let age = Math.abs(year - 1970);
    document.getElementById("my_age").innerHTML = age;
</script>
