<main class="mt-2" >
    <div id="intro" class="p-5 text-center bg-transparent">
        <h1 class="mb-3 h2">โปรเจค (Projects)</h1>
        <p class="mb-3">😅 มีเเต่บอท Discord ทั้งนั้น 555+ 😅</p>
    </div>

    <br>
    <br>

    <div class="container">
        <section class="text-center">

            <h4 class="mb-5"><i class="fa-solid fa-code"></i> Projects <i class="fa-solid fa-code"></i></strong></h4>

            <div class="row">

              <!-- Loop รา้ง Element ทั้งหมดตามที ส่งมา -->
              <% for(let i = 0; i < data.m3.length; i++){ %>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
						<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
							<img src="<%= data.m3[i].img %>" class="img-fluid" />
							<a href="#!">
							<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
							</a>
						</div>
						<div class="card-body">
							<!-- Loop สร้าง เเต่ล่ำบรรทัด Title -->
							<% for(let ii = 0; ii < data.m3[i].title.length; ii++){ %>
								<h5 class="card-title m-1"><%= data.m3[i].title[ii] %></h5>
							<% } %>
							<!-- Loop สร้าง เเต่ล่ำบรรทัด description -->
							<% for(let ii = 0; ii < data.m3[i].description.length; ii++){ %>
								<p class="card-text m-1"><%= data.m3[i].description[ii] %></p>
							<% } %>
							<!-- Loop สร้าง ปุ่ม -->
							<% for(let ii = 0; ii < data.m3[i].button.length; ii++){ %>
								<a href="<%= data.m3[i].button[ii].url %>" class="btn <%=data.m3[i].button[ii].color%>"><i class="fa-brands fa-github"></i><%= data.m3[i].button[ii].name %></a>
							<% } %>
						</div>
                    </div>
                </div>

              <% } %>



            </div>
        </section>
    </div>
</main>