<main class="mt-2" >
    <div id="intro" class="p-5 text-center bg-transparent">
        <h1 class="mb-3 h2 animate__animated animate__zoomIn">โปรเจค / ผลงาน</h1>
    </div>

    <br>
    <br>

    <div class="container">
        <section class="text-center">
			
			<!------------------------------------------ M3 -------------------------------------------->
			<hr class="my-5">
            <h4 class="mb-3 animate__animated animate__fadeInDown"><i class="fa-solid fa-code"></i> ม. 3 <i class="fa-solid fa-code"></i></strong></h4>
			<p class="mb-5 animate__animated animate__fadeInDown">😅 มีเเต่บอท Discord ทั้งนั้น 555+ 😅</p>

            <div class="row">

              <!-- Loop รา้ง Element ทั้งหมดตามที ส่งมา -->
              <% for(let i = 0; i < data.m3.length; i++){ %>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card animate__animated animate__flipInX">
						<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
							<img src="<%= data.m3[i].img %>" class="img-fluid" />
							<a href="<%= data.m3[i].url %>">
							<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
							</a>
						</div>
						<div class="card-body">
							<!-- Loop สร้าง เเต่ล่ำบรรทัด Title -->
							<% for(let ii = 0; ii < data.m3[i].title.length; ii++){ %>
								<h5 class="card-title m-1"><%= data.m3[i].title[ii] %></h5>
							<% } %>
							<!-- Loop สร้าง เเต่ล่ำบรรทัด description -->
							<% for(let ii = 0; ii < data.m3[i].description.length; ii++){ %>
								<p class="card-text m-1"><%= data.m3[i].description[ii] %></p>
							<% } %>
							<!-- Loop สร้าง ปุ่ม -->
							<% for(let ii = 0; ii < data.m3[i].button.length; ii++){ %>
								<a href="<%= data.m3[i].button[ii].url %>" class="btn <%=data.m3[i].button[ii].color%>"><i class="fa-brands fa-github"></i><%= data.m3[i].button[ii].name %></a>
							<% } %>
						</div>
                    </div>
                </div>

              <% } %>

            </div>

			<!------------------------------------------ ปวช1 -------------------------------------------->
			<hr class="my-5">
			<h4 class="mb-3 animate__animated animate__fadeInDown"><i class="fa-solid fa-code"></i> ปวช. 1 <i class="fa-solid fa-code"></i></strong></h4>
			<p class="mb-5 animate__animated animate__fadeInDown">😅 มีเเต่เว็ป ไม่ก็ API ทั้งนั้น 555+ 😅</p>

			<div class="row">

				<!-- Loop รา้ง Element ทั้งหมดตามที ส่งมา -->
				<% for(let i = 0; i < data.voc_cert.length; i++){ %>
					<div class="col-lg-4 col-md-12 mb-4">
						<div class="card animate__animated animate__flipInX">
							<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
								<img src="<%= data.voc_cert[i].img %>" class="img-fluid" />
								<a href="<%= data.voc_cert[i].url %>">
								<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
								</a>
							</div>
							<div class="card-body">
								<!-- Loop สร้าง เเต่ล่ำบรรทัด Title -->
								<% for(let ii = 0; ii < data.voc_cert[i].title.length; ii++){ %>
									<h5 class="card-title m-1"><%= data.voc_cert[i].title[ii] %></h5>
								<% } %>
								<!-- Loop สร้าง เเต่ล่ำบรรทัด description -->
								<% for(let ii = 0; ii < data.voc_cert[i].description.length; ii++){ %>
									<p class="card-text m-1"><%= data.voc_cert[i].description[ii] %></p>
								<% } %>
								<!-- Loop สร้าง ปุ่ม -->
								<% for(let ii = 0; ii < data.voc_cert[i].button.length; ii++){ %>
									<a href="<%= data.voc_cert[i].button[ii].url %>" class="my-1 btn <%=data.voc_cert[i].button[ii].color%>"><i class="fa-brands fa-github"></i><%= data.voc_cert[i].button[ii].name %></a>
								<% } %>
							</div>
						</div>
					</div>

				<% } %>

			</div>

			<!------------------------------------------ Tools -------------------------------------------->
			<hr class="my-5">
            <h4 class="mb-3 animate__animated animate__fadeInDown"><i class="fa-solid fa-code"></i> ภาษาเเละเครื่องมือที่ใช้ <i class="fa-solid fa-code"></i></strong></h4>

			<div class="rows mb-4">

				<% for(let i = 0; i < data.tools.length; i++){ %>
					<div class="m-2 d-inline">
						<a href="<%= data.tools[i].url %>">
							<img class="animate__animated animate__zoomIn" src="<%= data.tools[i].img %>" width="5%" alt="<%= data.tools[i].title %>">
						</a>
					</div>
				<% } %>

			</div>
		
		</section>
    </div>
</main>